In [1]:
import pandas as pd
import regex
from nltk.corpus import stopwords

In [77]:
df_train = pd.read_csv('C:/Users/kusha/Documents/Corona_NLP_train.csv', encoding='latin1')
df_train = df_train.drop(['UserName','ScreenName','Location','TweetAt'], axis=1)
df_train.head()

                                       OriginalTweet           Sentiment
0  @MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...             Neutral
1  advice Talk to your neighbours family to excha...            Positive
2  Coronavirus Australia: Woolworths to give elde...            Positive
3  My food stock is not the only one which is emp...            Positive
4  Me, ready to go at supermarket during the #COV...  Extremely Negative

In [78]:
#df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x:' '.join(x.lower() for x in x.split()))
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: x.lower())
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: regex.sub(r'(#[^\s]*)*', '',x))     
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: regex.sub(r'(@[\w]*)*[\d~\|\p{Punct}*]*(http[^\s]*)*', '',x)) #removing @, hashtags, punctuation and links 
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: regex.sub(r'<[^<]+?>','',x)) 
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: regex.sub(r'href=','',x)) #removing html
df_train.head()
#print(len(df_train))

                                       OriginalTweet           Sentiment
0                                          and  and              Neutral
1  advice talk to your neighbours family to excha...            Positive
2  coronavirus australia woolworths to give elder...            Positive
3  my food stock is not the only one which is emp...            Positive
4  me ready to go at supermarket during the  outb...  Extremely Negative

In [81]:
#removing stopwords
stop_words = set(stopwords.words('english'))
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: " ".join(x for x in x.split() if x not in stop_words))
df_train.head()

                                       OriginalTweet           Sentiment
0                                                                Neutral
1  advice talk neighbours family exchange phone n...            Positive
2  coronavirus australia woolworths give elderly ...            Positive
3  food stock one empty please dont panic enough ...            Positive
4  ready go supermarket outbreak im paranoid food...  Extremely Negative

In [82]:
#droping tweets with less than 2 words
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: x.split())
df_train = df_train[df_train['OriginalTweet'].map(len) > 1]
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: ' '.join(x))
df_train.head()

                                       OriginalTweet           Sentiment
1  advice talk neighbours family exchange phone n...            Positive
2  coronavirus australia woolworths give elderly ...            Positive
3  food stock one empty please dont panic enough ...            Positive
4  ready go supermarket outbreak im paranoid food...  Extremely Negative
5  news regionâs first confirmed covid case came...            Positive

In [83]:
#removing non ascii characters
df_train['OriginalTweet'] = df_train['OriginalTweet'].apply(lambda x: regex.sub(r'[^\x00-\x7F]+', '', x))
df_train.head()

                                       OriginalTweet           Sentiment
1  advice talk neighbours family exchange phone n...            Positive
2  coronavirus australia woolworths give elderly ...            Positive
3  food stock one empty please dont panic enough ...            Positive
4  ready go supermarket outbreak im paranoid food...  Extremely Negative
5  news regions first confirmed covid case came s...            Positive

In [84]:
print(len(df_train))

40994